<div class="col-sm-4 mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @connection.provider_name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Code: <%= @connection.provider_code %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Id: <%= @connection.remote_id %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Status: <%= @connection.status %></h6>
    </div>
  </div>
</div>

